body {
  background-color: #e3e3e3;
  color: #233142;

  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.container {
  margin: 100px auto;
  max-width: 500px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  line-height: 0;
  padding-bottom: 15px;
}

.adviser-form {
  background-color: #f3f3f3;
  padding: 13px;
  border-radius: 18px;
  box-shadow: 0px 10px 50px rgba(69, 93, 122, 0.2);
}

form {
  padding: 6px;
  margin-bottom: 12px;
}

.input-field {
  padding: 8px;
  width: 77%;
  border-radius: 8px;
  border: 1px solid rgb(69, 93, 122, 0.2);
}

.button {
  padding: 8px;
  width: 17%;
  border-radius: 8px;
  border: 1px solid rgb(69, 93, 122, 0.3);
  color: #233142;
  background-color: #f95959;
  transition: all 130ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #ff7676;
  box-shadow: 0px 2px 5px rgba(65, 50, 100, 0.8);
}

.generated-activity {
  font-size: 12px;
  font-weight: 200;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 10px 50px rgba(69, 93, 122, 0.2);
  border: 01px solid #f95959;
}

footer {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
}

a {
  color: #f95959;
}
